h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

.icon-wrapper {
  display: flex;
  width: 150px;
  justify-content: space-between;
  .icon {
    font-size: 2em;
    color: darkblue;
    cursor: pointer;
  }
}

.todo-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

